*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#07111f;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
}

.header{
    width:95%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;
}
.header-left{
    text-align:left;
}

.clock-box{
    text-align:right;
}

#jam{
    font-size:32px;
    font-weight:bold;
    color:#00ff99;
}

#tanggal{
    margin-top:5px;
    font-size:14px;
    color:#ccc;
}

.header h1{
    font-size:clamp(24px,2vw,42px);
}

.header p{
    color:#00ff99;
    font-weight:bold;
    margin-top:5px;
}

.dashboard{
    width:95%;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.top-row{
    display:grid;
    grid-template-columns: 220px 1.8fr 300px;
    gap:20px;
}
.bottom-row{
    display:grid;
    grid-template-columns: 350px 1fr;
    gap:20px;
}

.card{
    background:#0d1728;
    border:1px solid #00ff99;
    border-radius:15px;
    padding:20px;
}

.card h2{
    margin-bottom:15px;
}

.big-number{
    font-size:90px;
    text-align:center;
    font-weight:bold;
    color:#00ff99;
}

.map-wrapper{
    width:100%;
}

.map-wrapper img{
    width:100%;
    display:block;
    border-radius:12px;
}

.map-card{
    min-height:650px;
}

.map-wrapper{
    height:100%;
}

.map-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.map-wrapper img{
    width:100%;
    max-width:1300px;
    height:auto;
    object-fit:contain;
}
.placeholder,
.alarm-placeholder{
    min-height:150px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:1px dashed #555;
    border-radius:10px;
}

.chart-card .placeholder{
    min-height:300px;
}

.latest-card .placeholder{
    min-height:250px;
}

.summary-card .placeholder{
    min-height:250px;
}

/* RESPONSIVE */

@media(max-width:1400px){

    .top-row{
        grid-template-columns:1fr;
    }

    .bottom-row{
        grid-template-columns:1fr;
    }

}

.zona-list{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:15px;
}

.zona-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#08111f;
    border:1px solid #00ff99;
    border-radius:10px;

    padding:12px 15px;
}

.zona-item span{
    font-size:18px;
    font-weight:bold;
}

.zona-item strong{
    color:#00ff99;
    font-size:26px;
}


.alarm-box{
    margin-top:20px;
}

.alarm-status{
    text-align:center;
    padding:15px;
    border-radius:10px;
    font-weight:bold;
    font-size:22px;
}

.normal{
    background:#0f3b1f;
    color:#00ff99;
    border:1px solid #00ff99;
}

.alarm-info{
    margin-top:15px;
    text-align:center;
    padding:15px;
    border:1px dashed #666;
    border-radius:10px;
}

.alarm-name{
    font-size:20px;
    font-weight:bold;
    color:white;
    margin-bottom:10px;
}

.alarm-zona{
    color:#00ff99;
    font-weight:bold;
    margin-bottom:10px;
}

.alarm-alamat,
.alarm-telp,
.alarm-gol,
.alarm-tanggal{
    color:#ddd;
    font-size:14px;
    margin:6px 0;
}
.meter-table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

.meter-table th{
    background:#00ff99;
    color:#07111f;
    padding:12px;
    text-align:left;
}

.meter-table td{
    padding:12px;
    border-bottom:1px solid #23364f;
}

.meter-table tr:hover{
    background:#102038;
}

.chart-card{
    min-height:350px;
}

#zonaChart{
    width:100%;
    height:280px !important;
}

.alarm-name{
    font-size:18px;
    font-weight:bold;
    color:#fff;
    margin-bottom:10px;
}

.alarm-zona{
    color:#00ff99;
    font-weight:bold;
    margin-bottom:10px;
}

.alarm-alamat{
    color:#ddd;
    margin-bottom:10px;
}

.alarm-telp,
.alarm-gol,
.alarm-tanggal{
    color:#ccc;
    margin-bottom:6px;
}

@keyframes blinkAlarm {

    0%{
        background:#ff2d2d;
        box-shadow:0 0 10px #ff2d2d;
    }

    50%{
        background:#7a0000;
        box-shadow:0 0 25px #ff0000;
    }

    100%{
        background:#ff2d2d;
        box-shadow:0 0 10px #ff2d2d;
    }

}

.alarm-status.active{
    animation:blinkAlarm 1s infinite;
    color:white;
    font-weight:bold;
}
.status-proses{
    color:#ff4d4d;
    font-weight:bold;
}

.status-selesai{
    color:#00ff99;
    font-weight:bold;
}